section.todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    height: 100px;
    margin-top: 50px;
}

section.todo button {
    padding: 10px 20px;
    font-size: 2rem;
    background: #FF0000;
    border-radius: 25px;
    border: solid 2px #ff0000;
    cursor: pointer;
}

section.todo button:hover, section.todo button:active {
    background: #666;
    border-color: #f1f1f1;
}