.container {
    margin: 50px 300px;
}

.title {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.addnew {
    background: #888;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addnew input[type='text'] {
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 10px;
    text-indent: 10px;
}

.addnew input[type='date'] {
    outline: none;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-family: Arial, sans-serif;
    text-align: center;
}

.date-class {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addnew button {
    padding: 8px 20px;
    font-size: 2rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.error {
    margin-top: 10px;
}

.giteRadio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    height: 30px;
}

.giteRadio input[type='radio'] {
    transform: scale(125%);
}

form {
    height: 500px;
    width: 500px;
    background: #444;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input[type='password'] {
    font-size: 1.5rem;
    width: 350px;
    height: 40px;
    text-indent: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

form input[type='submit'] {
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}